<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Bureau</title>
</head>
<body>
    <h1>Car Bureau</h1>
    <h2>Add New Car</h2>
    <form method="POST" enctype="multipart/form-data">
           <input type="text" placeholder="Car's VIN" name="vin">
           <p>Date of disposal</p>
           <input type="date" name="disposal_date">
           <p>Date of creation</p>
           <input type="date"name="creation_date">
           <p>Scan of car's passport</p>
           <input type="file" name="scan">
           <br><br>
           <input type="submit">
        </form>
</body>
</html>